<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_projectConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_project_2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project_2.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_project_3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project_3.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_project_4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project_4.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.testConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\test.accdb"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_project_5ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project_5.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Bill_MoneyConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Bill_Money.accdb"
            providerName="System.Data.OleDb" />
        <add name="Esoftmaliban.Properties.Settings.Maliban_Distribution_project_3ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Maliban Distribution project 3.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>